* {
  margin: 0;
  padding: 0;
}

/* #carouselExampleAutoplaying{
  height: 86vh;
}

#carouselExampleAutoplaying *{
  height: 100%;
}

#carouselExampleAutoplaying img{
 object-fit: cover;
} */
/* 
#carouselExampleAutoplaying button{
  height: 10px;
  margin-top: 40vh ;
} */


.imag {
  width: 50px;
}

a{
  margin-right:25px ;
  margin-left:25px ;
}




.or img{
    width: 100%;
    aspect-ratio: 21 / 9;

    object-fit: cover;
}
